h1 {

    font-weight: bold;
}

.container{

    margin-bottom: 50px;
}
.orang-bg {
    background-color:#fceae8 ;
    border-radius: 10px;
}

.carousel-item {
                    
       padding: 20px 40px;    
}

.price {

    color: #ff136f;
    
}

.buy-now {

    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}

.cat1{

    background-color: orangered;
    padding: 10px 20px;
    border-radius: 8px;
}

.cat2 {

    background-color: palevioletred;
    padding: 10px 20px;
    border-radius: 8px;
}

.cat3 {

    background-color: palegreen ;
    padding: 10px 20px;
    border-radius: 8px;
}

.categories h1 {

    color: white;
}

.categories img {

    width: 100px;
}